title: ReSpawn™
email: git@ezrasavard.com
greeting: Welcome to the ReSpawn™ suicide prevention campaign
description: > # this means to ignore newlines until another tag
    ReSpawn™ is an idea created in the interest of people welfare ,We strive to lower suicidal rate which are already on a high note by creating awareness among people.
github:  ezrasavard
linkedin: ezrasavard
favicon: favicon.png

# Build settings
paginate: 3
baseurl: "/Cyph3rX" # the subpath of your site, e.g. /blog/
#baseurl: ""
url: "http://www.ezrasavard.com" # the base hostname & protocol for your site
highlights: pygments
permalink: posts/:title/
include: ["_pages"]
gems: [jekyll-paginate]
markdown: kramdown
excerpt_separator: "<!--more-->"
sass:
    sass_dir: _sass
    style: compressed

# cover images are expected to be 900px by 240px, or at least 15:4 aspect ratio
# thumbnails look best with 3:1 or 5:2 ratios in this layout.
defaults:
    -
        scope:
            path: ""
        values:
            layout: "default"
    -
        scope:
            path: ""
            type: "posts"
        values:
            author: "Ezra Savard"
            cover: "/media/header.jpg"
            layout: "post"
    -
        scope:
            path: ""
            type: "pages"
        values:
            author: "Ezra Savard"
            cover: "/media/header.jpg"
            layout: "default"
