---
layout: default
title: Home
---

{% assign tmp = "/" | append: site.baseurl %}
{% if page.url == tmp or page.url == "/" %}
    <article>
        <h1 class="top-text">About ReSpawn™</h1>
        <p>ReSpawn™ is a non profit organization aspiring to raise the awareness about ill effects of suicides which seem to be growing at exponential rates,Especially among youth.</p>
        <p>We are there to provide help for those who need it and long for it.According a statistic report about 800,000 deaths occur due to suicides,that means there is a person committing suicide every 40secs and thats why,at Respawn we are gonna provide a helping hand to the victims so that they can feel secured and move on with life normally as they once used .</p>
        <p>If you are reading this, Just know one thing : <strong>Your Story isnt over,yet coz we ain't quitting ,we are going to ReSpawn™</strong></p>
    </article>
    <div class="divider"></div>
    <h1 class="top-text">Most Recent Posts</h1>
    {% include postlist.html %}
{% else %}
    <h1 class="top-text">More Posts</h1>
    {% include postlist.html %}
{% endif %}
