---
layout: default
title: Home
---

{% assign tmp = "/" | append: site.baseurl %}
{% if page.url == tmp or page.url == "/" %}
    <article>
        <h1 class="top-text">About ReSpawn™</h1>
        <p><strong>ReSpawn™</strong> is a non profit organization aspiring to raise awareness about the ill effects of suicides which seem to be growing at exponential rates, especially among youth.</p>
        <p>We are here to provide help for those who need and long for it. According to a statistic report about 800,000 deaths occur due to suicides, that means there is a person committing suicide every 40 seconds and thats why at Respawn we are gonna provide a helping hand to the victims so that they can feel secure and move on with life normally as they once used to.</p>
        <p>If you are reading this, just know one thing ~ <strong>Your Story isn't over yet because we don't quit, we ReSpawn™</strong></p>
    </article>
    <div class="divider"></div>
    <h1 class="top-text">Most Recent Posts</h1>
    {% include postlist.html %}
{% else %}
    <h1 class="top-text">More Posts</h1>
    {% include postlist.html %}
{% endif %}
