<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="snippet">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="image-box">
            {% if post.thumb %}
                <img src="{{ site.baseurl }}{{ post.thumb }}">
            {% elsif post.cover %}
                <img src="{{ site.baseurl }}{{ post.cover }}">
            {% else %}
                <img src="{{ site.baseurl }}{{ site.cover }}">
            {% endif %}
            <container class="text-overlay">
                    <h1 class="title">{{ post.title }}</h1><br>
                    <h1 class="tagline">{{ post.date | date_to_string }}</h1>
            </container>
        </div>
    </a>
        
    {% if post.excerpt %}
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}"><p style="text-align:center">Read More</p></a>
    {% endif %}
    </div>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
