/* Text colors */
$highlight-color: #f87808;
$lightest-color: #cccccc;
$light-color: #8a8a8a;
$normal-color: #4a4a4a;
$dark-color: #1a1a1a;

/* Background colors */
$bg-color: #efefef;
$bg-color-dark-backup: rgb(0,0,0);
$bg-color-dark: rgba(0,0,0,.75);

/* Dimensions */
$column-width: 600px;
$column-padding: 30px;
$column-width-trigger: $column-width + 2*$column-padding;
$cover-image-height: 240px;
$cover-image-width: 900px;
$cover-image-top-padding: 6px;

/* Common Elements */
* { // force browsers to use same margins/padding
  margin: 0;
  padding: 0;
}

body {
  line-height: 28px;
  background-color: $bg-color;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
  color: $normal-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding: 0px;
  margin: 0px;
}

.group:after { // the "clearfix hack" in a minimal form
  content: "";
  display: table;
  clear: both;
}

.divider {  // accommodate different browsers
  background: -webkit-linear-gradient(left,rgba(255,255,255,0),$bg-color-dark,rgba(255,255,255,0));
  background: linear-gradient(to right,rgba(255,255,255,0),$bg-color-dark,rgba(255,255,255,0));
  height: 1px;
  margin: 32px 0;
}

footer {
  margin: 30px 0 10px;
  text-align: center;
  color: $light-color;
  .divider {
    margin: 10px 0 16px;
  }
}

h1 {
  color: $dark-color;
  margin: 18px 0px 10px;
  padding: 6px 0px 6px 0px;
  font-size: 24px;
}

.top-text {
  text-align: center;
  font-size: 28px;
  margin-bottom: 18px;
  margin-top: 30px;
}

.date {
    font-family: Monaco, "Courier New", monospace;
    color: $normal-color;
    margin: 6px 0px 15px;
    font-size: 18px;
}

h2 {
  color: $normal-color;
  margin: 10px 0px 6px;
  font-size: 18px;
}

p {
    margin-bottom: 15px;
}

/* Main Block */
main {
  width: $column-width;
  margin: 10px auto;
  @media (max-width: $column-width-trigger) {
    width: auto;
    padding-left: $column-padding;
    padding-right: $column-padding;
  }
  img {
    margin: 25px auto;
    max-width: 100%;
    // nice fade-y box shadow
    border: 1px solid;
    border-color: #e5e5e5 #dbdbdb #d2d2d2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    display: block;
  }
  a {
    color: $highlight-color;
    text-decoration: none;
    &:hover,
    &:focus, {
      border-bottom: 1px dashed #555;
    }
  }
}

/* Top Cover Image Bar */
.topbar {
  background: $bg-color-dark-backup;
  background: $bg-color-dark;
  margin: 0px auto 20px;
  max-width: $cover-image-width+2;

  .image-box {
    height: $cover-image-height + $cover-image-top-padding;
    transition-duration: .5s;
    @media (max-width: $column-width-trigger) {
      height: 0;
    }
    img {
      padding-top: $cover-image-top-padding;
      position:absolute;
      top: 0;
      left: 0; 
      width: $cover-image-width;
      height: $cover-image-height;
      border-left: 1px solid;
      border-right: 1px solid;
      border-color: #000;
      border-color: rgba(0,0,0,0.8);
    }
    }
  a {
    color: $lightest-color;
    text-decoration: none;
    &:hover,
    &:focus, {
      color: $highlight-color;
      border: none;
    }
  }
}

.mobile-topbar {
  display: none;
  background: inherit;
  text-align: center;
  h1 {
    color: $lightest-color;
    padding-top: 8px;
    display: inline-block;
  }
  @media (max-width: $column-width-trigger) {
    display: block;
  }
}

/* Container for Overlaying Text on Images */
.text-overlay {
  position: absolute;
  top: 40%;
  left: 10%;
  max-width: 50%;
  visibility: hidden;
  transform: translate(0, -35%); // it moves while it shrinks!
  @media (max-width: $column-width-trigger) {
    max-width: 80%;
  }
  h1 {
    background: $bg-color-dark-backup;
    background: $bg-color-dark;
    position: relative;
    visibility: visible;
    display: inline-block;
    color: $lightest-color;
    margin: 6px 4px 0px 4px;
    padding: 6px 6px 6px 6px;
  }
}

.tagline {
  font-size: 18px;
}

.image-box {
  position: relative;
  background: inherit;
  overflow: hidden;
  img { // fill the box
    width: 100%;
  }
}

nav {
  background: inherit;
  padding: 6px 0px 6px;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
  @media (max-width: $column-width-trigger) {
    max-width: 100%;
  }
}

.separator {
    color: $light-color;
}